body {
    background-color: darkgrey;
}
.div-block {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: black;
    margin: 6px;;
    flex: 0 0 1;
}

#container {
    background-color: darkgrey;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 1;
    /*  max content width 6.25% maybe something along this line */
    max-width: 992px;
    max-height: 992px; /* easy but wrong. I CAN FIND NO OTHER WAY WTF!!! */ 
}