/* Set custom properties within :root for global use */

:root {
  --rgb-square-size: 55px;
  --rgb-square-bg-color: white;
}

#master-container,
#eas-content,
.btn-tray,
.range-container {
  display: flex;
}

#master-container {
  justify-self: center;
}
#eas-content {
    flex-basis: fit-content;
    flex-wrap: wrap;
    max-width: 880px;
    border: solid black 3px
  }
  .rgb-square {
    background-color: white;
    width: var(--rgb-square-size);
    height: var(--rgb-square-size);
  }

    .btn-tray {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    .range-container {
      align-items: center;
      height: 30px;
      justify-content: center;
    }

.btn-tray > button:hover,
.rng-container > button:hover {
  background-color: grey !important;
}

.color-input {
  height: 50px;
  width: 66px;
}

.rng-container > button,
.btn-tray > button {
  display: flex;
  width: 66px;
  height: 50px;
  justify-self: center;
  justify-content: center;
  align-items: center;
  margin: 16px;
  border-radius: 10%;
  margin: 8px;
}

.rng-color-p {
  justify-self: center;
  margin: 0px 0px 8px 0px;
}
